<div class="divCenterHome">
  
<p>
  Welcome!
</p>

<div>
  <button> {{user}}</button>
</div>

<div>
  <h1 class="color">Furnizor numărul unu
    de hrană și consumabile de înaltă calitate</h1>
  </div>

<div class="col-sm-4" >
  <div class="div1">
    <h3 class="color" style = "text-align:center"> Calitate 100%</h3>
    <p class="color">Produse naturale pentru tine si casa ta, de la cei mai mari producatori. Bucura-te de carne, lactate, fructe, legume, cu certificate ecologic, si alege ce este mai bun pentru tine si familia ta. Produsele ecologice reperezinta toate acele produse fabricate fara utilizarea de substante chimice, realizarea lor avand loc in armonie cu mediul inconjurator si cu natura. </p>
    <img src="assets/img/calitate.png" height="295" width="352" />
  </div>
</div>

<div class="col-sm-4" >
  <div class="div2">
    <h3 class="color" style = "text-align:center">Livrare rapidă la casa dvs</h3>
    <p class="color">Știm că îți dorești să te bucuri oriunde de produsele românești și de cele mai apreciate produse naturiste, asadar va asiguram o livrare rapida a produselor dorite de dumneavoastra in conditii optime de siguranta si  prielnice alimentelor. Descoperă in casa ta gama noastră de produse sănătoase și savurează-le cu multă plăcere.</p>
    <img src="assets/img/livrare.png" height="315" width="350" />
  </div>
</div>

<div class="col-sm-4">
   <div class="div2">
    <h3 class="color" style = "text-align:center">Varietate mare de produse</h3>
    <p class="color">Servim cu mândrie în zona dvs. cu o mare varietate de produse de fermă și de fermă, alimente și provizii pentru  intreaga familie. Toate produsele respectă cerințele stricte ale Directivei Comisiei Europene privind produsele ecologice, dar și pe cele de calitate ridicată pe care noi le impunem acestora.</p>
    <img src="assets/img/produse.png" height="315" width="350" />
  </div>
</div>

</div>