    
    <section class="contactContainer">
        <div class="left">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJx00e5WFbs0ARBeBoSlD5Lqg&key=AIzaSyAdrBx8AWCHuLky6h1yWycme85Hc6sV0Q0" width="1500%"  height="375" frameborder="2" style="border:0 " allowfullscreen>   </iframe> 
        </div>           

        <div class="right">
            <p>Contact:</p>
            <p></p>
            <p>BRASOV</p>
            <p>Str.Pe Tampa,69</p>
            <p>500069,Brasov</p>
            <p>Telefon: +4072658965</p>
            <p>E-Mail: fermaluidorel@gmail.ro</p>
            <textarea name="comment" form="usrform" rows="8" placeholder="Trimite un mesaj" autofocus ></textarea>
            <p></p>
            <button type="button" onclick="alert('Multumim pentru mesajul tau!')">Trimite</button>  
        </div>    
    </section>     