    
    <section class="contactContainer">
        <div class="left">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3736489.7218514383!2d90.21589792292741!3d23.857125486636733!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1506502314230" width="1500%"  height="375" frameborder="2" style="border:0 " allowfullscreen>   </iframe> 
        </div> 

        <div class="right">
            <p>Contact:</p>
            <p></p>
            <p>BRASOV</p>
            <p>Str.Pe Tampa,69</p>
            <p>500069,Brasov</p>
            <p>Telefon: +4072658965</p>
            <p>E-Mail: fermaluidorel@gmail.ro</p>
            <textarea name="comment" form="usrform" rows="8" placeholder="Trimite un mesaj" autofocus ></textarea>
            <p></p>
            <button type="button" onclick="alert('Multumim pentru mesajul tau!')">Trimite</button>  
        </div>    
    </section>     