<nav class="navbar navbar-default" class="inverted vertical">
    <div class="container">
      <div class="navbar-header">
        <h1><a class="navbar-brand">Home</a></h1>
      </div>
      <div class="navbar navbar-default">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav navbar-nav" >
                <li><a [routerLink]="['/home']">Home </a></li>
                <li><a [routerLink]="['/contact']">Buy </a></li>
            </ul>

</div>
</div>
</div>
</div>
</nav>