<div class="divCenterHome">
        
      <!-- <p>
        Welcome!
      </p>
      
      <div>
        <button> {{user}}</button>
      </div> -->
      
      <div>
        <h1 class="color">Ferma noastra</h1>
        </div>
        <div id="slider">
        <figure>
				<img src="assets/img/poza0.jpg"  alt height="580">
				<img src="assets/img/poza1.png"  alt height="580">
				<img src="assets/img/poza2.jpg"  alt height="580">
                <img src="assets/img/poza3.png"  alt height="580">
                <img src="assets/img/poza4.jpg"  alt height="580">
                
            </figure>
        </div>
      
</div>