<div class="divCenterHome">  
  <div>
    <h1 class="color">Credem in..</h1>
    </div>
  
  <div class="col-sm-6" >
    <div class="div1">
      <h3 class="color" style = "text-align:center"> Hrană locală</h3>
      <p class="color">Cu cât hrana pe care o consumăm este realizată mai aproape de casă, cu atât ea va fi mai bună pentru fiinţa noastră. Micşorând timpul dintre preparare şi consum, hrana păstrează cea mai mare parte din nutrienţi şi nu mai sunt necesari conservanţi agresivi, care distrug energia şi curăţenia nutritivă a produsului. Pe de alta parte, susţinem comunitatea locală şi micii producători din jurul nostru. </p>
      <hr color="white" size="20" width="50%">
      <div class="center">
          <img src="assets/img/harta.png" height="130" width="190" />
        </div>
    </div>
  </div>
  
  <div class="col-sm-6" >
    <div class="div2">
      <h3 class="color" style = "text-align:center">Fabricare artizanală</h3>
      <p class="color">Utilizăm tehnologia pentru a îndeplini norme de igienă şi securitate alimentară. Nu avem şi nici nu vom avea vreodată o linie tehnologică automatizată. Ştim că produsele cu adevărat naturale pot fi pregătite doar prin procese în care intervenţia tehnologică este minimă, realizarea lor necesită timp şi cere multă atenţie şi un lung şir de operaţiuni manuale. Şi multă pasiune!</p>
      <hr color="white" size="20" width="50%">
      <div class="center">
          <img src="assets/img/planta.png" height="150" width="180" />
        </div>
    </div>
  </div>
  
  <div class="col-sm-6">
     <div class="div3">
      <h3 class="color" style = "text-align:center">Procesare naturală</h3>
      <p class="color">Reţetele noastre nu grăbesc în nici un mod finalizarea produsului. Nu folosim chimia de sinteză, potenţiatorii de aromă şi gust sau conservanţi chimici. Utilizăm mixul propriu de mirodenii naturale, unic pentru fiecare produs. Păstrăm cât mai intacţi nutrienţii din materia primă, alegem metodele de conservare cele mai puţin distructive şi, unde este posibil chiar niciun fel de conservare, condiţionat de respectarea unui regim termic adecvat.</p>
      <hr color="white" size="20" width="50%">
      <div class="center">
          <img src="assets/img/mana.png" height="150" width="180" />
        </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="div3">
     <h3 class="color" style = "text-align:center">Conservare naturală</h3>
     <p class="color">Lăsăm ca nutrienţii şi enzimele din ingrediente să îşi facă rolul natural de pregătire şi conservare al produsului. De aceea, avem mare grijă la mediul de păstrare: temperatură şi umiditate controlate. Pentru produsele maturate – din carne, peşte sau lapte singurii conservanţi pe care îi folosim sunt acidifierea, sarea de mare, fumul rece sau cald de lemne. Şi la final ambalarea în vid sau în recipienţi de sticlă închişi cât mai etanş.</p>
     <p>.</p>
     <hr color="white" size="20" width="50%">
     <div class="center">
        <img src="assets/img/vas.png" height="150" width="180" />
      </div>
      
   </div>
 </div>
  
  </div>