<h2>{{title}}</h2>
<div class="row">
    <button class="btn btn-lg btn-info" [class.active] = "filterBy == 'all'"(click)= "filterBy='all'">Toate Categoriile</button>
    <button class="btn btn-lg btn-info" [class.active] = "filterBy == 'Carne'"(click)= "filterBy='Carne'">Carne</button>
    <button class="btn btn-lg btn-info" [class.active] = "filterBy == 'Fructe'"(click)= "filterBy='Fructe'">Fructe</button>
    <button class="btn btn-lg btn-info" [class.active] = "filterBy == 'Legume'"(click)= "filterBy='Legume'">Legume</button>
    <button class="btn btn-lg btn-info" [class.active] = "filterBy == 'Lactate'"(click)= "filterBy='Lactate'">Lactate</button>
    <ul id="thumbnailsList">
        <li *ngFor="let image of ( visibleImages | imageFilter:filterBy)" >
            <a [routerLink] = "['/image' , image.id]">
            <img src="{{image.url}}" class = "tn" width="200" height="160">
        </a>
        </li>
    </ul>
</div>