/* You can add global styles to this file, and also import other style files */
body{
  padding-top: 0;
  margin: 0; 
}
nav {
  width: 100%;
  background: #FFFFFF;
  height: 65px;
  font-size: 50;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 50;
}

nav ul li {
  display: inline-block;
  margin-right: -4px;
  width: 25%;
  height: 100%;
  font-size: 50;
}

nav ul li a {
  color: rgba(152,116,170,0.65);
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  height: 100%; 
}